<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{ region.name }}
{{ region.get_root }}
{% for item in category.all_attributes %}
    {% if item.is_select %}
        <select name="attrs" id="1">
        {% for variant in item.variants %}
            <option value="{{ variant }}">{{ variant }}</option>
        {% endfor %}
        </select>
        <p>{{ item }}</p>
        
    {% else %}
        <label for="">{{ item.name }}</label>
        <input type="text">
    {% endif %}
{% endfor %}
<p>{{ category.all_attributes }}</p>
</body>
</html>